

.nested-checkboxes {
    display: none;
  }
  
  
  .show {
    display: block;
  }
  
  .productCategoriesShop i{
    position: absolute;
    
  }
  
  
  checkboxForm{
    margin-top: 20px;
  }
  
  
  
  .brandsShop{
    margin-top: 40px;
  
  }
  
  .sideBarBanner{
    margin-top: 40px;
  }
  
  .sideBarBanner img{
    width: 300px;
    height: 400px;
  
  }
  
  .productStatusShop{
    margin-top: 40px;
  }
  /* ////////////////////////////////////////////////////////////////////////////////// */
  
  
  
  
  /* ///////////////////////////////////////////////////////////////////////// */
  
  
  
  /* /////////////////////////////////////////////////////////////////////////// */
  
  
  /* Filter Price */
  
  
  .filter
  {
    margin-top: 40px;
    margin-right: 1000px;
  }
  
  
  .range-slider {
    width: 100%;
    height: 5px;
    position: relative;
    background-color: black;
    border-radius: 2px;
  }
  .range-selected {
    height: 30%;
    
    position: absolute;
    border-radius: 5px;
    background-color:black;
  }
  
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    
    background-color: black;
    pointer-events: auto;
    -webkit-appearance: none;
  }
  .range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    
    
  }
  
  .range-price {
    margin-top: 20px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .range-price label {
    margin-right: 5px;
  }
  .range-price input {
    width: 200px;
    padding: 5px;
  }
  .range-price input:first-of-type {
    margin-right: 15px;
  }
  
  /* Filter Price */
  /* //////////////////////////////////////////////////////////////////////////////////////////////////// */
  
  .shopProduct{
    display: flex;
    
    margin-top: 40px;
    
    
  }
  
  .rightShop{
    width: 30%;
  }
  
  .leftShop{
    width: 100%;
    
    border: #333 solid 0.5px;
  }
  
  
  .cardsforshop {
    margin-top: 200px;
  }
  
  .pictureforShop img{
    
  }
  
  .navShop{
  
    width: 900px;
    height: 200px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: -20px;
  }
  
  .iconsShop{
    margin-left: -250px;
  }
  
  
  /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  