*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;


}

 .navBarNewWidth {
  width: 33%;
} 

.blueRow {
  display: flex;
  justify-content: center;
  background-color: darkblue;
}

.blueRow a {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;

  color: white;
}

 .navbar-toggler {
  overflow: hidden;
  background-color: blue;

}


.topnav {
  overflow: hidden;

}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;

  padding: 10px;
  text-decoration: none;
  font-size: 12px;
}

.topnav a:hover {

  color: blue;
}





.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .topnav.responsive {
    flex-direction: column;
  }

  .topnav.responsive a {
    display: block;
    text-align: center;
  }
} 

 .firstRow {
  width: 100%;
  height: 35px;
  border-bottom: solid 0.5px lightgray;
  display: flex;


}

.topbar-notice {
  margin-top: 10px;

  font-size: 12px;


}

.text-content {
  margin-top: 10px;
  padding-left: 50px;
  font-size: 12px;
}

.input-group mb-3 {
  padding-left: 200px;
} 

/* ///////////////////////////////////////////////////// */

.bacola{
  padding: 0;
  width: 100%;
  height: 100px;
  display: flex;
  
  padding-top: 10px;
}
  


  
.icons{
    display: flex;
}

.searchBar{
    
    margin-left: -40px;
}
.searchBar input{
    
  width: 547.66px;
  height: 60px;
  background-color: lightgrey;
  display: flex;
  border-radius: 5px;
  
}

.searchBar button{
    position: absolute;
    right: -320px;
    top: 20px;
    border: none;
    color: black;
    
}

.icons{
    width: 180px;
    position: absolute;
    top: 35px;
    justify-content: space-between;
    right: -90px;
    

}

.signIn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 0.5px black;
}
.signIn i{
  position: absolute;
  right: 113px;
  top: 7px;
}

.basket{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 0.5px red;
  color: red;
}

.basket i{
  position: absolute;
  right: 20px;
  top: 7px;
  color: red;
}
.basket sup{
  color: red;
  font-size: 20px;
}

/* /////////////////////////////////////////////////////////////////// */

/* modal Menu */

.modalLocation {
  margin-left: -30px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  max-width: 450px;
  margin: 100px auto;
  padding: 20px;
  
}

.modal-content i{
  position: absolute;
  top: 100px;
  left: 30px;
}

.modal-content input{
 
  width: 400px;
  height: 50px;
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  text-align: center
  
}



/* Additional styles for visual aesthetics */
#locationModalTrigger {
  background-color: white;
  color: blue;
  text-align: left;
  border: lightgray solid 0.5px;
  cursor: pointer;
  border-radius: 5px;
}

.minType{
  width: 50px;
  height: 15px;
  border: solid lightgray 0.3px;
  border-radius: 30px;
  margin-left: 140px;
  text-align: center;
}

/* //////////////////////////////////////////////////////////////////////// */



/* main menu nav */
.mainMenu{
  display: flex;
}
leftMainMenu{
  width: 75%;
  margin-left: 200px;
}

.help{
  width: 130px;
}

allCategories{
  
}

.div {
  display: flex;
  position: absolute;
}

.nav-link {
  color: black;
}

.shop-item {
  color: blue;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

i {
  margin-right: 5px;
}

.home-menu,
.shop-menu {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  background-color: white;
  z-index: 1;
  padding: 35px;

}

.nav-item:hover .home-menu,
.nav-item:hover .shop-menu {
  opacity: 1;
  visibility: visible;
}

.toggle:hover {
  background-color: rgb(225, 246, 244);
  border-radius: 50px;
}


.toggle:hover .fa-chevron-down {
  transform: rotate(180deg);
}

/* main menu nav */

/* carousel */


.carousel-img {
  position: relative;
  width: 110%;

}

.carousel-content {
  position: absolute;
  top: 100px;
  left: 150px;
}

.carousel-content .content-header span {
  color: green;
  border-radius: 35px;
  background-color: rgb(143, 230, 143);
  padding: 5px;
}

.carousel-content .content-main span {
  color: red;
  font-weight: bold;
  font-size: 30px;
}

.carousel-content .content-footer button {
  color: white;
  border-radius: 35px;
  background-color: rgb(13, 175, 219);
  border: 1px solid rgb(13, 175, 219);
  padding: 8px;
}

/* carousel */



/* product cards */

.productCards {
  display: flex;



}

.productBeverages {

  width: 250px;
  height: 400px;
  margin-top: 20px;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;

}

.BiscuitsSnacks {

  display: flex;
}

.imgShop {
  width: 100px;
  height: 100px;
  margin-top: 35px;

}

.shopTitle {

  margin: 35px 35px 35px 35px;

}

#cards {
  margin-top: 20px;
}

#cards1 {
  margin-top: -40px;
}

.curss {
  cursor: pointer;
}

/* product cards */

/* container-pict */


.container-pict {
  width: 1029px;
  display: flex;
  justify-content: space-between;
}

.pict-item1 .pict-img {
  width: 100px;
  position: relative;
  margin-left: -50px;
  padding: 50px;

}

.pict-item1 .pict-content {
  position: absolute;
  top: 1950px;
  left: 160px;

}

.pict-item1 .pict-content .pict-header {
  color: red;
}

.pict-item1 .pict-content .pict-footer button {
  color: white;
  border-radius: 35px;
  background-color: blue;
  border: 1px solid blue;
  padding: 7px;
  width: 100px;
}

.pict-item2 .pict-img {

  position: relative;
  margin-left: 80px;
  padding-top: 50px;
  right: -60px;


}

.pict-item2 .pict-content {

  position: absolute;
  top: 1950px;
  right: 360px;
}

.pict-item2 .pict-content .pict-header {
  color: red;
}

.pict-item2 .pict-content .pict-footer button {
  color: white;
  border-radius: 35px;
  background-color: crimson;
  border: 1px solid crimson;
  padding: 7px;
  width: 100px;
}

/* container-pict */


/* container cards */

.container-cards {

  height: 800px;
  display: flex;



}

.cards-right {
  position: relative;
  width: 800px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;


}

.boxProduct {
  position: relative;
  height: 400px;
  width: 222px;

}

.deals-container {
  width: 360px;
  height: 800px;
  margin-left: 10px;
  padding-top: 20px;
  border: 2px solid red;
  z-index: 1;
  padding: auto;
  box-sizing: border-box;



}

.deals-container img {
  height: auto;
  margin-top: -60px;
  padding: auto;

}

.discInfo1 {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: crimson;
  margin-left: 20px;
  margin-top: -300px;
  border-radius: 50%;
}

.discInfo1 h6 {
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
  color: white;
  font-size: 20px;

}

.dealsSpan {
  margin-left: 30px;
  font-size: 20px;
}

.dealsEndText {
  position: absolute;
  left: 350px;
  margin-top: 100px;
  display: flex;

}

.boldLine {
  width: 300px;
  border: solid 8px #ff6048;
  border-radius: 10px;
  margin-top: 130px;
  margin-left: 20px;
  background: linear-gradient(90deg, #d51243 0%, #ff6048 50%, #ffcd00 100%);
  animation: gradient-move 10s ease infinite;
}

@keyframes gradient-move {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}




#countdown {
  font-size: 2px;

  justify-content: space-between;
  visibility: hidden;



}

.time {
  display: flex;
  margin-left: 30px;
  font-size: 20px;


}

.timer {
  position: relative;
}

.boxTime {
  width: 45px;
  height: 45px;
  background-color: crimson;
  margin-bottom: 100px;
  margin-left: 10px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  align-content: center;
  color: white;
  align-items: center;
  padding: 5px;
  font-style: bold;


}

.timer p {
  position: absolute;
  top: 60px;
  left: 50px;
  color: gray;
}





.star {
  color: #fcb900;
  bottom: 115px;
  font-size: smaller;
}

.heartMaxIcon {

  top: 10px;
  right: 10px;
  position: absolute;
  visibility: hidden;
  border-radius: 30px;
  transition: 0.5s;

}

.maximize {
  position: absolute;
  right: 10px;
  top: 10px"

}

.heart {
  position: absolute;
  right: 10px;
  top: 30px
}

.slideHover {
  width: 220px;
  height: 400px;
  transition: all 0.5s;


}

.addSlideBtn {
  background-color: blue;
  margin-bottom: -100px;
  opacity: 0;
  visibility: hidden;
  border-radius: 30px;
  transition: 0.5s;
}

.slideHover:hover {
  height: 450px;
}

.slideHover:hover .addSlideBtn {
  opacity: 1;
  visibility: visible;
}

.slideHover:hover .heartMaxIcon {
  opacity: 1;
  visibility: visible;

}

.rightSide {
  display: flex;
  height: 400px;
  width: 100%;
}

.leftSide {
  display: flex;
  height: 400px;
  width: 100%;
}

.posRel {
  position: relative;
  height: 400px;
  width: 20%;
}

.abs1 {
  position: absolute;
  z-index: 1;
}

.abs2 {
  position: absolute;
  z-index: 2;
}

/* container cards */

/* productSlide */

.productsSlide {
  padding-top: 30px;
  display: flex;

}

.discount {
  width: 100%;
  height: 60px;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  margin-top: 30px;

  background-color: #FBEACF;
  border-radius: 10px;
}


.shopProducts {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}



.discInfo {
  width: 40px;
  height: 20px;
  background-color: #6EC1E4;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;

}



.discInfo h6 {
  font-size: 15px;
  text-align: center;
  color: white;
  justify-content: center;

}

.organicText {
  width: 70px;
  height: 20px;
  padding-bottom: 15px;
  background-color: #7bdcb5;
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 15px;
  color: #61CE70;
  font-size: 18px;


}

.textRecomended {
  width: 90px;
  height: 20px;
  padding-bottom: 15px;
  background-color: gray;
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 5px;
  color: white;
  font-size: 10px;
}



.weekendDiscount {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
  justify-content: space-between;


}


.discountPercente {
  margin-top: -170px;
  margin-left: 30px;

  color: #61CE70;
  z-index: 100%;
}


.discountProduct {

  margin-top: 20px;
  margin-left: 30px;

  color: black;
  z-index: 100%;

}

.productExplain {

  margin-top: 5px;
  margin-left: 30px;

  color: black;
  z-index: 100%;

}

.weekendDiscount button {

  margin-top: 5px;
  margin-left: 30px;

  color: white;
  z-index: 100%;
  background-color: lightgray;
  border-radius: 30px;
  border-style: none;

}

.aboutProducts {
  display: flex;
  margin-top: 10px;

  justify-content: space-between;

}

.grocery {
  margin-left: 30px;
}

.aboutProducts h6 {
  color: grey;
}

/* Footer */

.footer-container {
  margin-top: 30px;
}

.footer-first {
  width: 100%;
  height: 400px;
  border: 1px solid white;
  background-color: rgb(36, 36, 119);
  position: relative;
}

.footer-first .footer-first-cont {
  position: absolute;
  top: 100px;
  left: 100px;
  color: white;
  font-size: larger;

}

.footer-first .footer-first-cont p {
  color: gray;
  font-size: smaller;
  margin-top: 15px;
  margin-bottom: 35px;
}

.footer-first .footer-first-cont .input-box {
  width: 450px;
  height: 60px;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.footer-first .footer-first-cont .input-box input {
  border: none;
}

.footer-first .footer-first-cont .input-box i {
  color: gray;
}

.footer-first .footer-first-cont .input-box button {
  background-color: rgb(36, 36, 119);
  color: white;
  padding: 10px;
  border-radius: 10px;
}


.footer-first .footer-first-img img {
  position: absolute;
  top: 122px;
  right: 120px;
}


.footer-second {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  padding: 50px;

}

.footer-second .elm {
  border-right: 2px solid gray;
  height: 30px;
  padding-right: 100px;
}


.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}


.footer-forth {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.footer-cont-right {
  display: flex;
  justify-content: space-between;
}

/* Footer */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* contactPage */



.containerMain {

  height: 70%;
  border-top: solid 0.5px lightgray;
  background-color: #fbfcfe;

}

.contactMainText {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contactPage {
  margin-bottom: 100px;
}



.contactCards {
  display: flex;
  width: 87%;
  justify-content: center;
  margin-left: 30px;
}

.cardsInformation {
  width: 250px;
  height: 180px;
  background-color: #ccc;
  margin: 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .cardsInformation {
    width: calc(50% - 40px);
  }
}

@media only screen and (max-width: 480px) {
  .cardsInformation {
    width: calc(100% - 40px);
  }
}

.contactCards i {
  color: darkblue;
  font-size: 35px;
  justify-content: center;

  align-items: center;
  position: absolute;
  top: 30px;
  left: 160px;

}

.cardsInformation h6 {

  justify-content: center;

  align-items: center;

  text-align: center;
  margin-top: 80px;

}

.cardsInformation span {
  position: absolute;
  justify-content: center;

  align-items: center;

  text-align: center;

  right: 50px;

}

.contactMainText {
  margin-top: 60px;
}

.formBox {
  width: 75%;
  height: 600px;
  border-top: solid 0.5px lightgray;
  justify-content: center;
  margin-left: 100px;
  padding-top: 60px;
  margin-bottom: 30px;
}

.formBox input {
  background-color: lightgray;
  border-radius: 5px;
  border: none;

  justify-content: space-between;
  width: 49%;
  height: 50px;
  margin-bottom: 20px;


}

.formBox label {
  margin-bottom: 20px;


}

#contact2 {
  margin-left: 40%;

}

#textContact3 {
  width: 98%;
}

#textContact4 {
  width: 98%;
  height: 150px;

}

#contactSubmit {
  background-color: darkblue;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  justify-content: center;
  text-align: center;
  color: white;

}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */



.accountMain {
  width: 95%;
  height: 700px;

}

.accountText {
  width: 95%;
  border-top: lightgray solid 0.5px;
  margin-left: -15px;

  display: flex;
  font-size: 5px;
  color: grey;

}

.accountText a {
  margin-top: 10px;
  color: gray;

}

.accountText a :hover {
  color: black;

}

.accountLoginRegister {
  width: 50%;
  height: 500px;
  border: solid 0.5px lightgray;
  margin-top: 200px;
  justify-content: center;
  margin-left: 25%;


}

.textLoginRegister {

  display: flex;
  justify-content: center;
  padding-top: 50px;

}

.accountInput {
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-left: 10%;
}

.accountInput input {
  width: 85%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
}

#accountLabel1 {
  font-size: 15px;
}

#accountLabel2 {
  font-size: 15px;
  margin-top: 20px;
}

#accountSubmit {
  width: 85%;
  height: 40px;
  margin-top: 10px;
  border: none;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
}

#accountA {
  position: absolute;
  bottom: -40px;
  color: #2bbef9;
}

.checkbox {
  display: flex;
  margin-top: 10px;
}

.checkbox input {
  margin-top: 5px;
}

.checkbox label {
  margin-left: 10px;
  font-size: 15px;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */




.nested-checkboxes {
  display: none;
}


.show {
  display: block;
}

.productCategoriesShop i{
  position: absolute;
  
}


checkboxForm{
  margin-top: 20px;
}



.brandsShop{
  margin-top: 40px;

}

.sideBarBanner{
  margin-top: 40px;
}

.sideBarBanner img{
  width: 300px;
  height: 400px;

}

.productStatusShop{
  margin-top: 40px;
}
/* ////////////////////////////////////////////////////////////////////////////////// */




/* ///////////////////////////////////////////////////////////////////////// */



/* /////////////////////////////////////////////////////////////////////////// */


/* Filter Price */


.filter
{
  margin-top: 40px;
  margin-right: 1000px;
}


.range-slider {
  width: 100%;
  height: 5px;
  position: relative;
  background-color: black;
  border-radius: 2px;
}
.range-selected {
  height: 30%;
  
  position: absolute;
  border-radius: 5px;
  background-color:black;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  
  background-color: black;
  pointer-events: auto;
  -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  
  
}

.range-price {
  margin-top: 20px;
  margin-left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.range-price label {
  margin-right: 5px;
}
.range-price input {
  width: 200px;
  padding: 5px;
}
.range-price input:first-of-type {
  margin-right: 15px;
}

/* Filter Price */
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

.shopProduct{
  display: flex;
  
  margin-top: 40px;
  
  
}

.rightShop{
  width: 30%;
}

.leftShop{
  width: 100%;
  
  border: #333 solid 0.5px;
}


.cardsforshop {
  margin-top: 200px;
}

.pictureforShop img{
  
}

.navShop{

  width: 900px;
  height: 200px;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: -20px;
}

.iconsShop{
  margin-left: -250px;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.cartPage{
  display: flex;
}

.cartRight{
  width: 70%;

}

.basketLine{
  margin-top: 40px;
  width: 100%;
  height: 70px;
  border: solid 0.5px lightgray;
  border-radius: 5px;
  
}
.cartUpdated{
  width: 100%;
  height: 60px;
  border: solid 0.5px lightgray;
  margin-top: 30px;
}

.cartUpdated p{
  margin-top: 10px;
  margin-left: 20px;
}
.basketLine p{
  margin-top: 15px;
  margin-left: 20px;
}
.redLine{
  width: 90%;
  height: 7px;
  border-radius: 30px;
  border: solid 0.5px #d51243;
  background-color: #d51243;
  margin-top: -10px;
  margin-left: 15px;
}

.coupone input{
  width: 25%;
  height: 40px;
  border-radius: 5px;
  background-color: lightgray;
 padding-left: 10px;
  border: none;

}

.coupone button{
  width: 15%;
  height: 40px;
  border-radius: 5px;
  background-color: darkblue;
  padding-left: 5px;
  color: white;
  border: none;

}

.cartLeft{
  width: 30%;
  height: 100%;
  border-top: solid 0.5px lightgray;
  border-left: solid 0.5px lightgray;
  border-right: solid 0.5px lightgray;
  margin-top: 40px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
}

.subtotal{
  height: 50px;
  margin-top: 35px;
  border-top: 0.5px lightgray solid;
}

.shipBox{
  height: 175px;
  display: flex;
  border-top: 0.5px lightgray solid;
}

.address{
  margin-left: 110px;
}
.total{
  border-top: 0.5px lightgray solid;
  width: 100%;
}

.proceedBtn button{
  border: none;
  background-color: #d51243;
  width: 100%;
  height: 50px;
  color: white;
  border-radius: 5px;
}



.menuALLcat{
  margin-top: 20px;
 
}
.categBtn {
  border-radius: 30px;
  margin-top: -20px;
  background-color: #0693e3;
  border: none;
}